@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

.mulish-font {
    font-family: "Mulish", sans-serif;
}

.inter-font {
    font-family: "Inter", sans-serif;
}

.tooltip {
    position: relative;
    display: inline-block;
    border: 1px solid rgba(3, 7, 18, 0.1);
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 80px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 2px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    

}
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.buttonIn { 
    width: 300px; 
    position: relative; 
} 
  
.button { 
    position: absolute;  
    right: 2px; 
    z-index: 1; 
    border: none; 
    height: 30px; 
    cursor: pointer; 
    transform: translateX(2px); 
}  
.banner-div{
    background: rgb(17,1,36);
    background: linear-gradient(180deg, rgba(17,1,36,1) 0%, rgba(3,3,92,1) 100%, rgba(0,0,0,1) 100%);
    
}

